.profile {
  @include background-gradient(#dfe0db 45%, #fcebe1 45%);
  width: 1170px;
  margin: auto;
  padding: 50px;
  font-family: 'Montserrat', sans-serif;

  &__main {
    @include flex;
    background: #ffffff;
    padding: 50px;

    &__left {
      width: 37%;
      flex-shrink: 1;

      .my__image {
        text-align: center;
        margin-bottom: 50px;
        h3 {
          font-size: 24px;
          font-weight: 600;
          color: #333333;
          margin-bottom: 10px;
        }
        span {
          display: block;
          font-family: 'Courgette', cursive;
          font-size: 18px;
          color: #a5a5a5;
          margin-bottom: 25px;
        }
        img {
          max-width: 250px;
          max-height: 250px;
          @include border-radius(50%);
          @include box-shadow(0, 0, 10px, #fcebe1);
        }
      }

      .my__contact {
        .desc__common {
          margin-bottom: 30px;
        }
      }

      .my__capabilities {
        .soft__skill {
          @include flex;
          padding: 50px 0px;
          h5 {
            font-size: 14px;
            text-transform: uppercase;
            letter-spacing: 2px;
            color: #fcb3a0;
            margin-bottom: 20px;
          }
          ul {
            li {
              list-style: none;
              font-size: 14px;
              font-weight: 500;
              color: #333333;
              margin-bottom: 20px;
              &:last-child {
                margin-bottom: 0;
              }
            }
          }
          .right {
            margin-left: 60px;
          }
        }
      }

      .my__technical {
        .progress {
          margin: 50px 0;
          &__item {
            margin-bottom: 20px;
            p {
              font-size: 14px;
              font-weight: bold;
              font-style: italic;
              color: #333333;
              margin-bottom: 5px;
            }
            .line {
              width: 100%;
              height: 20px;
              position: relative;
              background: transparent;
              border: 2px solid #888888;
              &__width {
                position: absolute;
                top: 0;
                left: 0;
                background: #fcebe1;
                height: 100%;
                border-right: 2px solid #888888;
              }
            }
            &:last-child {
              margin: 0;
            }
          }
        }
      }
    }

    &__right {
      width: 63%;
      padding-left: 5vw;
    }
  }
}
